.homecontainer {
  width: 100%;

  margin-top: 1.5rem;
  margin-bottom: 7rem;
  display: flex;
  justify-content: center;
}
.homesection {
  width: 95%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.homesectionblur {
  width: 95%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  filter: blur(4px);
}
.homesectionup {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.5rem;
}
.homecontainer .logocontainer {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 1rem;
}
.logocontainer .logoup {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 0.3rem;
}
.homecontainer .logoup > img {
  width: 2.5rem;
}
.homecontainer .logoup > span {
  font-size: 1.3rem;
  font-weight: 500;
}
.homecontainer .bannercontainer {
  width: 100%;
  background: linear-gradient(90deg, #7286b4 0%, #e794ce 100%);
  display: flex;
  justify-content: center;
  height: 13rem;
  border-radius: 1rem;
}
.homecontainer .bannercontainer .bannerbox {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homecontainer .bannercontainer .bannerbox .bannertext > span {
  font-size: 2.3rem;
  font-weight: 500;
  color: #2e0052;
}

.bannerimgcontainer {
  width: max-content;
  position: relative;
  bottom: 0.9rem;
}

.carticon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: white;
  font-size: 1.2rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 30;
}

.carticonflex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: white;
  font-size: 1.2rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.banner {
  width: 190px;
}
.input {
  width: 100%;
  position: relative;
}
.input > input {
  width: 99%;
  border: 1px solid #c8c8c8;
  border-radius: 1.8rem;
  height: 2.5rem;
}
.input > div {
  position: absolute;
  color: #666666;
  top: 0.6rem;
  display: flex;
  align-items: center;
  left: 1rem;
  column-gap: 0.3rem;
}
.loader {
  min-height: 80dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  column-gap: 0.4rem;
  cursor: pointer;
}
.filter {
  width: max-content;
  display: flex;
  column-gap: 0.6rem;
}
.noresultfoundsec {
  min-height: 20rem;
  height: 100%;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}
.noresultfoundsec > span {
  font-weight: 500;
  font-size: 1.3rem;
}

.deleteuseraccount {
  width: 8rem;
  background-color: red !important;
  cursor: pointer !important;
  color: white;
  height: 2.2rem;
  border: none;
  border-radius: 1rem;
}
.selectsection {
  height: 2rem;
  padding: 0 10px;

  border: none;
  border-radius: 1.5rem;
  background-color: #d9d9d9;
  font-size: 0.9rem;
  font-weight: 500;
}
.filtercontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;

  overflow: auto;
}
.filterbox {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}
.sort {
  width: max-content;
}
.sort .selectsection {
  height: 2rem;
  padding: 0 10px;

  border: 1px solid #d9d9d9;
  border-radius: 1.5rem;

  background-color: white;
  font-size: 0.9rem;
  font-weight: 500;
}
.homesectiondown {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(6, 200px);
  justify-content: space-around;
  align-items: center;
}
.productcontainer {
  width: 200px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;
}
.imgcontainer {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0066ff2b;
  position: relative;
}
.imgcontainer .img {
  width: max-content;
}
.imgcontainer .img > img {
  width: 160px;
}
.productdescription {
  width: 90%;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}
.productdescription > span {
  display: inline-block;
}
.buynow {
  display: none;
}
.productcontainerflex {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.logodown {
  cursor: pointer;
}
.imgcontainerflex {
  min-width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0066ff2b;
  position: relative;
}
.carticonmobileflex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: white;
  font-size: 1.2rem;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}
.imgcontainerflex .imgflex {
  width: max-content;
}
.imgcontainerflex .imgflex > img {
  width: 160px;
}
.productdescriptionflex {
  width: 90%;
  height: 200px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.productdescriptionflex > .titleflex,
.priceflex,
.colourflex,
.descriptionflex {
  display: inline-block;
}
.productcontainerflexmobile {
  display: none;
}
.productdescription > .title {
  font-size: 0.9rem;
}
.productcontainerflex .colourflex {
  font-size: 0.9rem;
  color: #666666;
}
.productdescriptionflex > .titleflex {
  font-size: 1.1rem;
}
.productcontainerflex .descriptionflex {
  font-size: 0.9rem;
  color: #666666;
}
.productcontainerflex .priceflex {
  font-size: 1.3rem;
}
.description {
  font-size: 0.8rem;
  color: #666666;
}
.homesectiondownflex {
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.detailbtnflex {
  width: 5rem;
  background-color: #2e0052;
  color: white;
  border: none;
  height: 1.8rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.detailbtnflex:hover {
  scale: 1.1;
}
.sectionupbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.useroptions {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.useroptions > span {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.3rem;
  background-color: #1d7000;
  color: white;
  padding: 6px 20px;
  border-radius: 1rem;
  cursor: pointer;
}
.userprofile {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 500;
  font-size: 1.1rem;
  position: relative;
  cursor: pointer;
}

.userprofile .profile {
  width: 11rem;
  height: 5.5rem;
  top: 2.8rem;
  position: absolute;
  right: 1.5rem;
  background-color: white;
  z-index: 20;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1rem;
}
.userprofile .line {
  width: 100%;
  height: 1px;
  display: block;
  background-color: #dddddd;
}
@media (max-width: 1400px) {
  .homesectiondown {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(5, 200px);
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
  }
}
@media (max-width: 1270px) {
  .homesectiondown {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: space-around;
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .homesectiondown {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: space-around;
    align-items: center;
  }
}
@media (max-width: 700px) {

  .homecontainer {  
    margin-top:100px;
  }
  .useroptions {
    display: none;
  }

  .input {
    display: none;
  }
  .homesectiondown {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 200px);

    column-gap: 0.3rem;
    row-gap: 2rem;

    justify-content: space-evenly;
  }
  .homecontainer .bannercontainer .bannerbox .bannertext > span {
    font-size: 1.9rem;
    font-weight: 500;
    color: #2e0052;
  }
  .productcontainer {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1.13px solid #cecece;
    padding-bottom: 1rem;
  }
  .bannerimgcontainer {
    width: max-content;
    position: relative;
    bottom: 0.8rem;
  }

  .banner {
    width: 150px;
  }
  .homecontainer .bannercontainer {
    width: 100%;

    height: 10rem;
    border-radius: 1rem;
  }
  .productcontainerflex {
    width: 100%;
    display: flex;

    flex: 1;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .productcontainerflex:hover {
    scale: 0.9;
  }
  .imgcontainerflex {
    min-width: 160px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0066ff2b;
  }
  .imgcontainerflex .imgflex {
    width: max-content;
  }
  .imgcontainerflex .imgflex > img {
    width: 120px;
  }
  .productdescriptionflex {
    width: 90%;
    height: 200px;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .sectionupbox {
    display: none;
  }
  .productdescriptionflex > .titleflex,
  .priceflex,
  .colourflex,
  .descriptionflex {
    display: inline-block;
  }
  .productdescriptionflex > .titleflex {
    font-size: 1.5rem;
  }
  .homesectiondownflex {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }
  .detailbtnflex {
    width: 5rem;
    background-color: #2e0052;
    color: white;
    border: none;
    height: 1.8rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .detailbtnflex:hover {
    scale: 1.1;
  }
}
@media (max-width: 590px) {
  .homesectiondown {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 0;
    column-gap: 0.3rem;

    justify-content: space-evenly;
  }
  .homecontainer .bannercontainer .bannerbox .bannertext > span {
    font-size: 1.5rem;
    font-weight: 500;
    color: #2e0052;
  }

  .bannerimgcontainer {
    width: max-content;
    position: relative;
    bottom: 0.8rem;
  }

  .banner {
    width: 150px;
  }
  .homecontainer .bannercontainer {
    width: 100%;
    height: 10rem;
    border-radius: 1rem;
  }
}
@media (max-width: 500px) {
  .productcontainer {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .imgcontainer {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0066ff2b;
  }

  .banner {
    width: 100px;
  }
  .bannerimgcontainer {
    width: max-content;
    position: relative;
    bottom: 0.4rem;
  }
  .imgcontainer .img {
    width: max-content;
  }
  .homesectiondown {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 160px);

    row-gap: 1rem;

    justify-content: space-evenly;
  }
  .imgcontainer .img > img {
    width: 130px;
  }
  .homecontainer .bannercontainer {
    width: 100%;

    height: 7rem;
    border-radius: 1rem;
  }
  .homecontainer .bannercontainer .bannerbox .bannertext > span {
    font-size: 1rem;
    font-weight: 700;
    color: #2e0052;
  }
  .buynow {
    display: block;
    position: absolute;
  }
  .bannerbox .bannertext {
    margin-top: -1.6rem;
  }
  .bannertext .buynow {
    margin-top: 0.4rem;
    background: #2e0052;
    width: 5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.9rem;
    font-weight: 400;
    font-size: 0.7rem !important;
  }
  .sort {
    margin-left: 2rem;
  }
  .productcontainerflex {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .productcontainerflex:hover {
    scale: 0.9;
  }
  .imgcontainerflex {
    min-width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0066ff2b;
  }
  .imgcontainerflex .imgflex {
    width: max-content;
  }
  .imgcontainerflex .imgflex > img {
    width: 100px;
  }
  .productdescriptionflex {
    width: 90%;
    height: 200px;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .productdescriptionflex > .titleflex,
  .priceflex,
  .colourflex,
  .descriptionflex {
    display: inline-block;
  }
  .productdescriptionflex > .titleflex {
    font-size: 1.5rem;
  }
  .homesectiondownflex {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }
  .detailbtnflex {
    width: 5rem;
    background-color: #2e0052;
    color: white;
    border: none;
    height: 1.8rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .productcontainerflex {
    display: none;
  }

  .productcontainerflexmobile {
    width: 100%;
    height: 100px;
    display: flex;

    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .productdescriptionflex > .titleflex,
  .priceflex,
  .colourflex,
  .descriptionflex {
    display: inline-block;
  }

  .productdescriptionflex > .titleflex {
    font-size: 0.8rem;
  }
  .productdescriptionflex > .priceflex {
    font-size: 1rem;
  }
  .productdescriptionflex > .colourflex {
    color: #666666;
    font-size: 0.7rem;
  }
  .productdescriptionflex > .descriptionflex {
    color: #666666;
    font-size: 0.7rem;
  }
  .productdescriptionflex {
    width: 100%;
    height: 110px;
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .detailbtnflex {
    width: 3.5rem;
    background-color: #2e0052;
    color: white;
    border: none;
    height: 1.3rem;
    font-size: 0.6rem;
    border-radius: 1rem;
    cursor: pointer;
  }
  .productdescription .title {
    font-size: 0.8rem;
  }
  .productdescription > span {
    font-size: 0.7rem;
  }
  .productdescription .price {
    font-size: 0.9rem;
  }
}
