.container {
  width: 100vw;
  margin-top: 12vh;
  padding: 2vh 2vw;
}

.desktoptitleNav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}

.desktoptitleNav > img {
  height: 90%;
}

.desktoptitleNav > span {
  font-family: Roboto;
  font-size: 2.3rem;
  font-weight: 600;
  letter-spacing: 0em;
  color: rgba(46, 0, 82, 1);
  margin: 0 1vw 0 0.5vh;
}

.desktoptitleNav > a {
  padding-top: 1%;
  text-decoration: none;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 1);
}

.backToProductBtnDesktop {
  margin-top: 4vh;
  padding: 0.5% 2% 0.5% 2%;
  width: max-content;
  border: none;
  border-radius: 10px;
  background-color: rgba(46, 0, 82, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Roboto;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}

.backButtonMobile {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: (255, 255, 255, 1);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.33);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.backButtonMobile > img {
  height: 50%;
}

.checkoutTitle {
  margin-top: 2vh;
  font-family: Roboto;
  font-size: 1.8rem;
  font-weight: 550;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.checkoutContainer {
  margin-top: 3vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.detailsContainer {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.detailsContainer > div {
  height: max-content;
  padding-bottom: 2vh;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(225, 225, 225, 1);
}

.detailsContainer > div > span:first-of-type {
  font-family: Roboto;
  font-size: 2vw;
  font-weight: 500;
  letter-spacing: 0em;
  color: rgba(181, 43, 0, 1);
  white-space: nowrap;
}

.detailsContainer > div > span:nth-of-type(2) {
  width: 40%;
  font-family: Roboto;
  font-size: 1.6vw;
  font-weight: 400;
  letter-spacing: 0em;
  color: rgba(121, 121, 121, 1);
}

.reviewItems > div {
  display: flex;
  width: 40%;
  flex-direction: column;
  gap: 1vh;
}

.reviewItems > div > div {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}

.reviewItems > div > div > img {
  width: 60%;
  height: 60%;
  border: 2px solid black;
  border-radius: 5px;
}

.reviewItems > div > div > span:first-of-type {
  font-size: 2vw;
  font-weight: 600;
  line-height: 3vw;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 1);
}

.reviewItems > div > div > span:nth-of-type(2),
.reviewItems > div > div > span:nth-of-type(3) {
  color: rgba(121, 121, 121, 1);
  font-size: 1.5vw;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}

.reviewItems > div > div > span:nth-of-type(4),
.reviewItems > div > div > span:nth-of-type(5) {
  font-family: Roboto;
  font-size: 1.6vw;
  font-weight: 400;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 1);
}

.orderPlaceSideSection {
  padding: 1% 1%;
  width: 23%;
  height: max-content;
  display: flex;
  flex-direction: column;
  border: 3px solid rgba(225, 225, 225, 1);
  border-radius: 10px;
}

.orderPlaceSideSection > button {
  border: none;
  background-color: rgba(255, 214, 0, 1);
  height: 8vh;
  width: 100%;
  font-family: Roboto;
  font-size: 1.8vw;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.orderPlaceSideSection > span:first-of-type {
  margin: 1vh 0 1.5vh 0;
  font-family: Roboto;
  font-size: 1vw;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.orderPlaceSideSection > div > h5 {
  padding-top: 1vh;
  border-top: 2px solid rgba(225, 225, 225, 1);
  color: rgba(0, 0, 0, 1);
  font-family: Roboto;
  font-size: 2vw;
  font-weight: 550;
  letter-spacing: 0em;
  margin-bottom: 1vh;
}

.orderPlaceSideSection > div {
  display: flex;
  flex-direction: column;
}

.orderPlaceSideSection > div > div {
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 1.3vw;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(121, 121, 121, 1);
}

.orderPlaceSideSection > div > div > span:last-of-type {
  width: 30%;
}

.orderPlaceSideSection > div > div:last-of-type {
  margin-top: 1vh;
  padding-top: 1vh;
  border-top: 2px solid rgba(225, 225, 225, 1);
  color: rgba(181, 43, 0, 1);
  font-weight: 550;
  font-size: 1.4vw;
}

.orderSummaryBottomSide {
  margin: 4vh 0 5vh 0;
  padding: 0% 1% 0 1%;
  width: 75%;
  height: 13vh;
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  align-items: center;
  border: 2px solid rgba(225, 225, 225, 1);
  border-radius: 10px;
}

.orderSummaryBottomSide > button {
  border: none;
  background-color: rgba(255, 214, 0, 1);
  width: 30%;
  height: 8vh;
  font-family: Roboto;
  font-size: 1.8vw;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.orderSummaryBottomSide > div {
  display: flex;
  flex-direction: column;
}

.orderSummaryBottomSide > div > span:first-of-type {
  color: rgba(181, 43, 0, 1);
  font-weight: 550;
  font-size: 2vw;
  font-family: Roboto;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
}

.addr {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.9px;
  text-align: left;
}

.paySelect {
  width: 211px;
  height: 58px;
  top: 729px;
  left: 677px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;

  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 42.92px;
  text-align: left;
}

.orderSummaryBottomSide > div > span:last-of-type {
  font-family: Roboto;
  font-size: 1.3vw;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 600px) {
  .desktopFooter {
    display: none;
  }

  .desktoptitleNav {
    display: none;
  }

  .backToProductBtnDesktop {
    display: none;
  }

  .container {
    margin-top: 11vh;
    padding-left: 3vw;
  }

  .checkoutContainer {
    flex-direction: column;
  }

  .detailsContainer {
    width: 100%;
  }

  .detailsContainer > div {
    flex-direction: column;
  }

  .detailsContainer > div:last-of-type {
    border: none;
  }

  .detailsContainer > div > span:first-of-type {
    font-size: 1.5rem;
  }

  .detailsContainer > div > span:nth-of-type(2) {
    width: 100%;
    margin-top: 1vh;
    padding-left: 7%;
    font-size: 1rem;
  }

  .reviewItems > div {
    padding-left: 7%;
    width: 100%;
  }

  .reviewItems > div > div {
    margin-top: 2vh;
  }

  .reviewItems > div > div > img {
    width: 50vw;
    height: 100%;
  }

  .reviewItems > div > div > span:first-of-type {
    margin: 2vh 0 1vh 0;
    font-size: 1.2rem;
  }

  .reviewItems > div > div > span:nth-of-type(2),
  .reviewItems > div > div > span:nth-of-type(3) {
    font-size: 0.95rem;
  }

  .reviewItems > div > div > span:nth-of-type(4),
  .reviewItems > div > div > span:nth-of-type(5) {
    font-size: 1rem;
  }

  .orderSummaryBottomSide {
    display: none;
  }

  .orderPlaceSideSection {
    padding-left: 7%;
    width: 95%;
    flex-direction: column-reverse;
    border: none;
  }

  .orderPlaceSideSection > span {
    display: none;
  }

  .orderPlaceSideSection > div > div {
    font-size: 1rem;
  }

  .orderPlaceSideSection > div > div:last-of-type {
    font-size: 1.2rem;
  }

  .orderPlaceSideSection > div > h5 {
    border: none;
    font-size: 1.5rem;
  }

  .orderPlaceSideSection > button {
    width: 95%;
    margin: 2vh 0 12vh 0;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 1);
  }
}

@media (min-width: 600px) {
  .backButtonMobile {
    display: none;
  }

  .checkoutTitle {
    margin-top: 5vh;
    margin-left: 46%;
    text-decoration: underline;
    font-size: 3vw;
  }
}
