.container {
    margin-top: 12vh;
    width: 100vw;
    padding: 0 2vw 0 2vw;
    margin-bottom: 30vh;
}

.firstBox {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleNav {
    height: 100%;
    display: flex;
    align-items: center;
}

.titleNav>img {
    height: 90%;
}

.titleNav>span {
    font-family: Roboto;
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: 0em;
    color: rgba(46, 0, 82, 1);
    margin: 0 1vw 0 0.5vh;
}

.titleNav>a {
    padding-top: 4%;
    text-decoration: none;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 1)
}



.backToProductBtn {
    margin-top: 5vh;
    padding: 0.5% 2% 0.5% 2%;
    width: max-content;
    border: none;
    border-radius: 10px;
    background-color: rgba(46, 0, 82, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}


.CartProductsBox {
    margin-top: 5vh;
}

.cartTitle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2vh;
}

.cartTitle>span {
    font-family: Roboto;
    font-size: 3vw;
    font-weight: 700;
    letter-spacing: 0em;
}

.cartContainer {
    margin-top: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.allProducts {
    width: 72%;
    display: flex;
    flex-direction: column;
}

.allProducts>div:first-of-type {
    border-top: 3px solid rgba(225, 225, 225, 1);
}

.allProducts>div:last-of-type {
    border-bottom: 3px solid rgba(225, 225, 225, 1);
}

.ProductDetails {
    display: flex;
    flex-direction: column;
    padding-right: 1vw;
}

.ProductDetails>div {
    width: 100%;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
}



.ProductDetails>div>img {
    width: 20%;
    height: 80%;
    border: 2px solid rgba(46, 0, 82, 1);
    border-radius: 5px;
}

.ProductDetails>div>div {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    align-items: normal;
}


.ProductDetails>div>div>span {
    color: rgba(0, 0, 0, 1);
    font-family: Roboto;
    font-size: 1.8vw;
    letter-spacing: 0em;
}

.ProductDetails>div>div>span:first-of-type {
    font-weight: 500;
}

.ProductDetails>div>div:first-of-type>span {
    font-size: 1.5vw;
    color: rgba(162, 162, 162, 1);
}

.ProductDetails>div>div:first-of-type {
    width: 30%;
}

.ProductDetails>div>div:first-of-type>span:first-of-type {
    font-size: 1.8vw;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
}

.quantity>select {
    margin-top: 8%;
    border: none;
    border: 1px solid rgba(190, 190, 190, 1);
    height: 3vh;
    cursor: pointer;
}


.summaryOfTotalItems {
    position: relative;
    left: 27%;
    width: 69%;
    display: flex;
    flex-basis: content;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 1.8vw;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
}

.totalAmount {
    position: relative;
    border-left: 2.87px solid rgba(225, 225, 225, 1);
    width: 26%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.5vw;
}

.totalAmount>div>h5 {
    color: rgba(0, 0, 0, 1);
    font-family: Roboto;
    font-size: 2vw;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    margin: 1vh 0 1.5vh 0;
}

.totalAmount>div {
    width: 100%;
}

.totalAmount>div>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 1);
    font-family: Roboto;
    font-size: 1.4vw;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
}

.totalAmount>div>div>span:last-of-type {
    width: 25%;
}


.totalAmoutAndPlaceOrder {
    width: 95%;
    position: absolute;
    top: 93%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.totalAmoutAndPlaceOrder>div {
    width: 100%;
    font-family: Roboto;
    letter-spacing: 0em;
}

.totalAmoutAndPlaceOrder>div>span:first-of-type {
    font-size: 1.9vw;
    font-weight: 500;
}

.totalAmoutAndPlaceOrder>div>span:last-of-type {
    width: 30%;
    font-size: 1.6vw;
    font-weight: 400;
}

.totalAmoutAndPlaceOrder>button {
    border: none;
    background-color: rgba(255, 214, 0, 1);
    width: 97%;
    height: 8vh;
    border-radius: 10px;
    color: rgba(0, 0, 0, 1);
    font-family: Roboto;
    font-size: 1.7vw;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: center;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    position: sticky;
}

@media (max-width:600px) {
    .header {
        display: none;
    }

    .footer {
        display: none;
    }

    .container {
        display: none;
    }
}