.container {
    width: 100vw;
    height: 100vh;
    padding: 0 3vw 0 3vw;
}

.searchBoxHeader {
    width: 100%;
    height: 10vh;
    background-color: rgba(46, 0, 82, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
}

.space{
    height: 11vh;
}

.searchBoxHeader>div {
    border-radius: 5px;
    width: 90%;
    height: 60%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    gap: 1.5vw;
    align-items: center;
    padding: 0 2%;
}

.searchBoxHeader>div>input {
    outline: none;
    border: none;
    color: rgb(0, 0, 0, 1);
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0em;
}

.searchBoxHeader>div>img {
    height: 60%;
}




.saleBanner {
    margin-top: 5vh;
    width: 100%;
    height: 20vh;
    background: linear-gradient(90deg, #7286B4 0%, #E794CE 100%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.saleBanner>div {
    padding-left: 4vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0em;
}

.saleBanner>div>h1 {
    font-size: 1.2rem;
    color: rgba(46, 0, 82, 1)
}

.saleBanner>div>button {
    width: 60%;
    height: 20%;
    border: none;
    border-radius: 50px;
    background-color: rgba(46, 0, 82, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
}

.saleBanner>img {
    position: relative;
    left: 1%;
    bottom: 15%;
    height: 115%;
}


.filterBox {
    width: 100%;
    height: 6vh;
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    gap: 4vw;
    align-items: center;
    overflow: scroll;
}

.sortBox {
    width: 43vw;
    height: 80%;
    border: 2px solid rgba(225, 225, 225, 1);
    border-radius: 50px;
    padding: 0.5% 2% 0.5% 5%;
    font-family: Roboto;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0em;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sortBox>select {
    padding-right: 15%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
    font-family: Roboto;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../../../assets/dropDown.svg');
    background-repeat: no-repeat;
    background-position: right 2% center;
    cursor: pointer;
}

.sortBox>select option {
    background-color: rgba(255, 255, 255, 1);
    font-size: 0.8rem;
}

.filterSelectBox {
    width: 100%;
    height: 80%;
    margin-left: 2vw;
    display: flex;
    align-items: center;
    gap: 1vh;
}


.filterSelectBox>select {
    width: 43vw;
    height: 100%;
    padding: 0.5% 7% 0.5% 4%;
    font-family: Roboto;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: -0.02em;
    background-color: rgba(217, 217, 217, 1);
    border: none;
    outline: none;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../../../assets/dropDown.svg');
    background-repeat: no-repeat;
    background-position: right 6% center;
    background-position-y: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 1)
}

.filterSelectBox>select option {
    background-color: rgba(255, 255, 255, 1);
    font-size: 0.8rem;
    font-weight: 400;
}

.productContainer {
    border-top: 2px solid rgba(187, 186, 186, 1);
    margin-top: 2vh;
    padding: 3vh 0 15vh 0;
    width: 100;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3vw;
}

.productContainer>div {
    width: calc(50% - 10px);
    height: 35vh;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    cursor: pointer;
    border: 2px solid rgba(206, 206, 206, 1);
    border-radius: 5px;
}

.productImg {
    width: 100%;
    height: 70%;
    background-color: rgba(212, 229, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.productImg>img {
    height: 80%;
    width: 80%;
}

.productSpec {
    height: 20%;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
}

.productTitle {
    margin-top: 1vh;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 600;
    line-height: 3vh;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 1)
}

.productPrice,
.productType {
    font-family: Roboto;
    font-weight: 600;
    font-size: 0.77rem;
    line-height: 2.5vh;
    letter-spacing: 0em;
    text-align: left;
}

.noProductFound {
    width: 100vw;
    height: 20vh;
    font-size: 2rem;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width:600px) {
    .container {
        display: none;
    }

    .searchBoxHeader {
        display: none;
    }
}