.mobile_container {
  display: none;
}

@media (max-width: 700px) {
  .mobile_container {
    width: 100%;
    background-color: #2e0052;
    height: 3.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile_section {
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    column-gap: 0.3rem;
  }
  .mobile_section > span > img {
    width: 2.5rem;
    margin-bottom: -0.2rem;
  }

  .text {
    font-size: 1.4rem;
  }
}
