.footerContainerOn {
  height: 3.5rem;
  background-color: #2e0052;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContainerOff {
  height: 3.5rem;
  background-color: #2e0052;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .footerContainerOff {
    display: none;
  }
}
