.Footer {
    background-color: #2E0052;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.footerText {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    position: relative;
    bottom: 0;
    left: 0;
}
  
  @media (max-width: 768px){
    .Footer{
      display:none;
    }
  }
  