.footer {
    width: 100vw;
    height: 7vh;
    background-color: rgba(46, 0, 82, 1);
    font-family: Roboto;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding: 1vh 0 1vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:600px) {
    .footer {
        font-size: 1.8vw;
        height: 5vh;
    }
}