.container {
    margin-top: 12vh;
    width: 100vw;
    padding: 0 2vw 0 2vw;
}

.firstBox {
    margin-bottom: 10vh;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleNav {
    height: 100%;
    display: flex;
    align-items: center;
}

.titleNav>img {
    height: 90%;
}

.titleNav>span {
    font-family: Roboto;
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: 0em;
    color: rgba(46, 0, 82, 1);
    margin: 0 1vw 0 0.5vh;
}

.titleNav>a {
    padding-top: 4%;
    text-decoration: none;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 1)
}

.cart {
    width: max-content;
    height: 70%;
    padding: 1vh 3vh 1vh 3vh;
    background-color: rgba(29, 112, 0, 1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 1vh;
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.backToProductBtn {
    margin-top: 5vh;
    padding: 0.5% 2% 0.5% 2%;
    width: max-content;
    border: none;
    border-radius: 10px;
    background-color: rgba(46, 0, 82, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}

.productDescriptionHeader {
    margin-top: 5vh;
    font-family: Roboto;
    font-size: 2.1vw;
    font-weight: 600;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 1)
}


.fullProductDetails {
    margin-top: 7vh;
    display: flex;
    align-items: flex-start;
    gap: 5vh;
    width: 100%;
    height: max-content
}

.imageBox {
    height: 100%;
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vh;
}

.imageBox>img {
    height: 75%;
    border: 5px solid rgba(46, 0, 82, 1);
    border-radius: 10px;
}

.smallImages {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
}

.smallImages>img {
    width: 31%;
    border: 5px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
    cursor: pointer;
}

.productTextDetail {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto;
    gap: 1.5vh;
}

.productTitle {
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 1);
    line-height: 3vw;
}

.ratingBox {
    display: flex;
    align-items: center;
    gap: 1vh;
}

.ratingBox>span {
    font-size: 1.3vw;
    font-weight: 400;
    letter-spacing: 0em;
    margin-left: 1vh;
}

.ratingBox>img {
    height: 70%;
}

.price {
    font-size: 2vw;
    font-weight: 500;
    letter-spacing: 0em;
}

.colorType {
    font-size: 2vw;
    font-weight: 400;
    line-height: 1vh;
    letter-spacing: 0em;
}

.aboutProduct {
    margin-top: 1vh;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 2vw;
    letter-spacing: 0em;
    text-align: left;
}

.aboutProduct>ul {
    margin-top: 0.5vh;
    padding-left: 3vw;
}

.availableAndBrand>div>span:first-child {
    font-size: 2vw;
    font-weight: 550;
    letter-spacing: 0em;
}

.availableAndBrand>div>span:last-child {
    font-size: 2vw;
    font-weight: 500;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1.5vh;
}

.buttons>button,
.buttons>div {
    padding: 2%;
    height: 6vh;
    border: none;
    border-radius: 50px;
    background-color: rgba(255, 214, 0, 1);
    color: rgba(0, 0, 0, 1);
    font-family: Roboto;
    font-size: 2vw;
    font-weight: 500;
    letter-spacing: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buttons>button:last-child {
    background-color: rgba(255, 184, 0, 1);
}


.buttons>div {
    margin-top: 3vh;
    gap: 2%
}

.footer {
    margin-top: 15vh;

}

@media (max-width:600px) {
    .container {
        display: none;
    }

    .footer {
        display: none;
    }

    .header {
        display: none;
    }
}