.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background: #2e0052;
  height: 9vh;
  color: #fff;
  font-size: 0.9rem;
  position: fixed;
  top: 0;
  z-index: 999;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  margin-left: 2rem;
}
.logo img {
  width: 100%;
}
.contact{
  display: flex;
}
.number{
  margin-left: 1rem;
}
.btns {
  padding: 0 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 2rem;
}
.btn {
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px){
  .container{
    display:none;
  }
}