.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.name {
  font-family: Roboto;
  font-size: 29px;
  font-weight: 400;
  line-height: 42.92px;
  text-align: left;
}

.address {
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  line-height: 28.9px;
  text-align: left;
  width: 311px;
}

.viewInvoice {
  border-radius: 14px;
  width: 281px;
  height: 59px;
  background: #2e0052;

  font-family: Roboto;
  font-size: 28.13px;
  font-weight: 500;
  line-height: 32.96px;
  text-align: left;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:600px) {
   
.name {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 42.92px;
    text-align: left;
  }
  
  .address {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 28.9px;
    text-align: left;
    width: 121px;
  }
  
  .viewInvoice {
    border-radius: 14px;
    width: 100px;
    height: 51px;
    background: #2e0052;
  
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 32.96px;
    text-align: left;
    color: white;
  
    display: flex;
    justify-content: center;
    align-items: center;
  } 
}